body {
  background-color: #F9F8F4;
  font-family: 'Poppins', sans-serif;
}

.cuenta-section label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #333;
}

.cuenta-section .form-control {
  border-radius: 8px;
  height: 45px;
}

.cuenta-section .form-text {
  font-size: 0.75rem;
  color: #6c757d;
}

.cuenta-section aside img {
  background-color: #d9d9d9;
  padding: 5px;
}
