body {
  font-family: sans-serif;
  margin: 0;
  background: #f9f9f3;
}

.contenedor {
  display: flex;
  padding: 20px;
}

.filtro {
  width: 250px;
  background: #e3e3e3;
  padding: 20px;
  border-radius: 5px;
}

.filtro h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.filtro input {
  width: 60px;
  margin: 5px 5px 10px 0;
  padding: 5px;
}

.filtro a {
  display: block;
  color: #000;
  text-decoration: none;
  margin: 5px 0;
}

.filtro ul {
  margin: 0 0 10px 15px;
  padding: 0;
  list-style: disc;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  margin-left: 30px;
  flex-grow: 1;
}


.producto {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.2s;
}

.producto:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.producto img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}

.precio {
  color: #111;
  font-weight: bold;
  margin: 5px 0;
  text-align: left;
}


.acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acciones button {
  background: #111;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para la imagen dentro del botón */
.acciones button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}


.acciones span {
  font-size: 14px;
}

.barra-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 0 40px;
}




.ordenar {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
}

.paginacion-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginacion-btn img {
  width: 32px;
  height: 32px;
  opacity: 0.9;
}

.paginacion-btn:hover img {
  opacity: 1;
}

.paginacion-btn:disabled img {
  opacity: 0.4;
  cursor: not-allowed;
}
