body {
  background-color: #F9F8F4;
  font-family: 'Poppins', sans-serif;
}

.titulo-seccion {
    color: #000;
    font-size: 28px;
  }
  
  .subtitulo {
    color: #2f2f2f;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .descripcion {
    color: #444;
    font-size: 16px;
    line-height: 1.6;
  }
  
.imgNosotros {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }